# -----------------
# Text files
# -----------------
*.java text
*.xml text
*.yml text
*.md text
*.txt text

# -----------------
# Binary files
# -----------------
*.jar binary
*.png binary
*.gif binary
*.zip binary

# -----------------
# Line endings
# -----------------
* text=auto

# -----------------
# Merge settings for config files
# -----------------
*.yml merge=union